/************
Start Globals
************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
/************
End Globals
************/




/************
Start App
************/
.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

.App-header {
  z-index: 3;
  width: 100%;
  background-color: #0a3d62;
  min-height: 50px;
  font-size: calc(10px + 2.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************
End App
************/




/************
Start Menu Button
************/
.Menu-button {
  z-index: 1;
  position: fixed;
  top: calc(10px + .5vmin);
  left: calc(10px + .5vmin);
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: calc(9px + .5vmin);
  color: #fff;
  display: none;
}
/************
End Menu Button
************/




/************
Start Map Area
************/
.Map-area {
  display: flex;
  min-height: 100%;
}
/************
End Map Area
************/




/************
Start Menu
************/
.Menu {
  max-height: 100vh;
  min-width: 300px;
  max-width: 400px;
  width: 30%;
  background-color: #3c6382;
  color: #fff;
  text-align: center;
  line-height: 140%;
  overflow: scroll;
}

.Menu header, .Menu li {
  text-align: center
}

.Menu header {
  padding: 25px;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #0a3d62;
  background-color: #fff;
}

.Menu li {
  padding: 15px;
  border-bottom: #fff 1px solid;
}

.Places {
  height: 55px;
  overflow: hidden;
}

.Places-height-sh {
  height: 55px;
  overflow: hidden;
}

.Places-height-tl {
  height: 100%;
  border-top: #fff 1px solid;
  background-color: #0a3d62;
  cursor: pointer;
}

.Places:hover {
  border-top: #fff 1px solid;
  background-color: #0a3d62;
  cursor: pointer;
}

.Places h3 {
  padding-bottom: 30px;
}

.Places-image {
  margin-right: 20px;
  max-width: 350px;
  padding-bottom: 30px;
}

.Places-image img {
  width: 100%;
}

.Places-info p {
  font-size: 1rem;
}

.Places-address, .Places-cross-street, .Places-category, .Places-delivery {
  margin-bottom: 15px;
}
/************
End Menu
************/




/************
Start Filter
************/
.Filter {
  border-bottom: 2px solid #fff;
}

.Filter-dropdown {
  margin: 20px;
  cursor: pointer;
  width: 80%;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
}

.Filter-dropdown:hover {
  background-color: #0a3d62;
}

.Filter-dropdown select {
  border-radius: 2px;
  width: 100%;
  display: none;
}
/************
End Filter
************/




/************
Start Media Queries
************/
@media only screen and (max-width: 600px) {
  .Menu {
    min-width: 0;
    width: 0;
    transform: translateX(-300px);
  }

  .Menu-button {
    display: block;
  }
}
/************
End Media Queries
************/