* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/************
Start App
************/
.App {
  text-align: center;
  width:100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: #2f3640;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header {
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/************
End App
************/


/************
Start Google Maps
************/

.Google-map {
  z-index: 1;
  height: 100vh;
}

/************
End App
************/




/************
Start SideBar
************/

.SideBar {
  z-index: 2;
  padding: 90px 10px 30px 10px;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 100vh;
  max-width: 400px;
  background-color: #353b48;
  color: #fff;
  text-align: left;
  line-height: 140%;
  overflow: scroll;
}

.SideBar header, .SideBar li {
  padding: 15px;
  border-bottom: #fff 1px solid;
}

.SideBar header {
  text-align: center
}

.Places {
  display: flex;
}

.Places:hover {
  cursor: pointer;
  transform: scale(1.10);
}

.Places h3 {
  padding-bottom: 10px;
}

.Places-image {
  margin-right: 20px;
  max-width: 75px;
  max-height: 75px;
}

.Places-image img {
  width: 75px;
}

.Places-info p {
  font-size: 1rem;
}

/************
End SideBar
************/




/************
Start Location View Modal
************/

.Location-view-modal {
  z-index: 5;
  margin: auto 0;
  position: absolute;
  top: 150px;
  left: 450px;
  width: 400px;
  height: 500px;
  border-radius: 5px;
  background-color: #61dafb;
}

/************
End Location View Modal
************/